crewai==0.70.1
crewai-tools==0.12.1
langchain==0.2.16
langchain-community==0.2.16
langchain-openai==0.1.23
langchain-groq
langchain-anthropic
langchain-ollama
streamlit
python-dotenv
pdfminer.six
sqlalchemy
psycopg2-binary
snowflake-connector-python
markdown
docling
duckduckgo-search>=8.0.2
embedchain==0.1.114
